<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{%static 'css/estilos.css'%}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
      <title>Ver colaborador</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
  </head>

  <body >
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top ">
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#opciones">
        <span class="navbar-toggler-icon"></span>
        </button>                  
        <a class="navbar-brand " href="#">
          {% load static %}      
          <img src="{% static 'img/logocaos.png'%}" width="60" height="60" alt="">
        </a>
        <div class="collapse navbar-collapse " id="opciones">   
          <ul class="navbar-nav">                
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'Index' %}">Inicio</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Administrador</a>
            </li>
          </ul>  
        </div>
        <div >
          <a href="#" button type="button" class="btn btn-primary" id="btnprueba">Iniciar Sesión</button></a>
          <a href="#" button type="button" class="btn btn-primary" id="btnprueba">Regístrate</button></a>
        </div>      
    </nav>                
    <br><br><br><br>


    <h3>Mostrando Colaboradores</h3>
    <div class="linea"></div>

    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">RUT</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fono</th>
                <th scope="col">Dirección</th>
                <th scope="col">Email</th>  
                <th scope="col">Pais</th>    
                <th scope="col">Contraseña</th> 
                <th scope="col">Imagen</th> 
            </tr>
        </thead>
        <tbody>
            {%for co in colaboradores%}
                <tr>
                    <td>{{co.rutColaborador}}</td>                    
                    <td>{{co.nomColaborador}}</td>
                    <td>{{co.fonoColaborador}}</td>
                    <td>{{co.dirColaborador}}</td>
                    <td>{{co.emailColaborador}}</td>
                    <td>{{co.paisColaborador}}</td>
                    <td>{{co.contrasenaColaborador}}</td>
                    {% load static %}      
                    <td><img src="{% static '{{co.imagen}}' %}" width="50" height="50" class="img-responsive" alt=""></td> 
                    
                    <td><a href="{% url 'form_modificar' co.rutColaborador%}" class="btn btn-primary"  id="btnprueba">Modificar  </a></td>
                    <td><a href="{% url 'form_eliminar' co.rutColaborador%}" class="btn btn-danger"  id="btnprueba">Eliminar </a></td>
                </tr>
                    
                
            {%endfor%}

        </tbody>

    </table>
    <a href="{% url 'form_crear' %}" class="btn btn-primary" id="btnprueba">Nuevo Colaborador</a>
    <br><br><br> <br><br><br><br><br><br>
  </div>
   <!-- footer -->    
 <footer class= "container-fluid footer" >
  <p>©Copyright 2021 Nancy Torres | Derechos reservados             Síguenos: 
    <i class="fa fa-whatsapp"></i>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-envelope"></i> 
    <i class="fa fa-instagram"></i> 
    <i class="fa fa-twitter"></i> 
  </p>

</footer>
</body>



</html>