/*estilo botones nav*/
#btnprueba{
    background-color: #040c3a;
    border-color: #1622c7;
}
#btnprueba:hover{
    background-color: #1622c7;
}


.footer {
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #040c3a;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom:5px;

}

/* estilos de titulos*/

h4 {
    text-align: center;
    font-family: Verdana;
}

h3 {
    text-align: center;
    font-family: Verdana;
}



#img1{
    width: 450px;
    height: 285px;
}

.parrafo{
    text-align: justify;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.galeria h1{
    font-family: Verdana;
    text-align: center;
    margin:100px 0 15px 0;
    font-weight: 300;
    font-size:  x-large;
}

.linea{
    border-top: 5px solid #040c3a;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}




.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}

.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #1622c7 ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2{
    color: #ffffff;
    font-weight: 300;
    font-size:20px;
    position: absolute;
    top: 20%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.overlay p {
    color: #ffffff;
    bottom: 10%;
    position: absolute;
    justify-content: space-around;
    text-align: center;
    line-height: 1.6;
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}

